div {
  float: left;
  width: 300px;
  height: 300px;
  outline: dotted 1px green;
  background: black;
}

section {
  clear: left; /* toggle this on and off */
  background: red;
  width: 900px;
  height: 300px;
}

/* HTML REFERENCE

<div></div>
<div></div>
<div></div>

<section></section>

/*