h1 {
  font-size: 3em;
  text-align: center;
  line-height: 100px;
}

body {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px 1fr;
  justify-items: center;
}

h1 {
  grid-column: 1 / span 4;
}

button {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

li {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
  line-height: 100px;
}

ul{
  max-height: 800px;
}

ul:nth-child(6) li{
  background-color: #ff99c890;
  border: solid #ff99c8ff 3px;
  /* TODO: use a float based layout to make the Cat list items flow left to right */
}

ul:nth-child(7){
  /* TODO: use a flex based layout to make the Dog list itemss flow left to right*/
  /* TODO: use flex-wrap to make the Dog list items wrap at the end of each row */
  /* TODO: use justify-content to center the Dog list items */  
}

ul:nth-child(7) li {
  background-color: #fcf6bd90;
  border: solid #fcf6bdff 3px;
}

ul:nth-child(8){
  /* TODO: use a flex layout on the Sheep unordered list to make the sheep render in columns, wrap when they reach the bottom of the ul, and align the columns to the center */

}

ul:nth-child(8) li {
  background-color: #d0f4de90;
  border: solid #d0f4deff 3px;
}

ul:nth-child(9){
  /* TODO: use css grid to lay out the horse list items */
  /* TODO: use grid-template-columns to define 3 evenly spaced columns for the horses to render in; */
}

ul:nth-child(9) li {
  background-color: #a9def990;
  border: solid #a9def9ff 3px;
}