body {
  display: grid;
  grid-template-rows: 100px 1fr;
  height: 100vh;
}


h1 {
  font-size: 3em;
  text-align: center;
  line-height: 100px;
}

main {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #e4c1f9;
  padding: 30px;
  border-radius: 30px;
  font-size: 1.4em;
}

main > :nth-child(1) {
  background-color: #ff99c830;
  border: solid #ff99c890 3px;
}

main > :nth-child(2) {
  background-color: #fcf6bd30;
  border: solid #fcf6bd90 3px;
}

main > :nth-child(3) {
  background-color: #d0f4de30;
  border: solid #d0f4de90 3px;
}

main > :nth-child(4) {
  background-color: #a9def930;
  border: solid #a9def990 3px;
}

main > :nth-child(n):nth-child(-n+4){
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
div {
  border-radius: 30px;
}

