.grid-container {
  width: 90%;
  margin: auto;
  display: grid;
  /* grid-template-columns: 2fr 3fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(200px, auto);
  /* row-gap: 20px;
  column-gap: 20px; */
  gap: 20px;

}

.grid-container div {
  border: 2px solid black;
  font-size: 1.5em;
  padding: 30px;

}

.grid-item1{
  grid-column: 1/4;
}

.grid-item2{
  grid-row: 2/5;

}

.grid-item3{
  grid-row: 2/5;

}

.grid-item7{
  grid-column: 1/4;
}
